services:
  garage:
    image: dxflrs/garage:v2.2.0
    container_name: tmp-files-microservice-garage-dev
    hostname: tmp-files-microservice-garage-dev
    restart: unless-stopped
    command: [ '/garage', '-c', '/etc/garage.toml', 'server' ]
    environment:
      - RUST_LOG=garage=info
    ports:
      - '3900:3900'
      - '3901:3901'
      - '3902:3902'
      - '3903:3903'
    volumes:
      - ./garage.toml:/etc/garage.toml:ro
      - garage_meta:/var/lib/garage/meta
      - garage_data:/var/lib/garage/data

volumes:
  garage_meta:
  garage_data:
