name = "tmp-files-microservice"
compatibility_date = "2024-02-06"
compatibility_flags = ["nodejs_compat"]

main = "src/index.worker.ts"

[assets]
directory = "./public"
binding = "ASSETS"
run_worker_first = true

[vars]
# Default variables
LOG_LEVEL = "info"
NODE_ENV = "production"
ENABLE_UI = "false"
BASE_PATH = ""
DOWNLOAD_BASE_URL = ""
ALLOWED_MIME_TYPES = ""
ENABLE_DEDUPLICATION = "true"
MAX_TTL_MIN = "44640"
MAX_FILE_SIZE_MB = "100"
CLEANUP_INTERVAL_MINS = "10"

# Production environment
[env.production]
name = "tmp-files-microservice-production"

# Staging environment
[env.staging]
name = "tmp-files-microservice-staging"

[observability.logs]
enabled = true
invocation_logs = true

[[kv_namespaces]]
binding = "METADATA_KV"
id = "fake-id-for-local-dev"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "tmp-files"
